/* Varibales in CSS */
:root {
    scroll-behavior: smooth;
    --color1: khaki;
    --color2: coral;
    --color3: brown;
    --linearGradient: linear-gradient(to right, var(--color1), var(--color2), var(--color3));
    --radialGradient: radial-gradient(circle, var(--color2), var(--color1));
}

/* Pseudo classes for anchor */
.links {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

a:link {
    color: brown;
    text-decoration: none;
    font-family: sans-serif;
    padding: 6px 15px;
}

a:visited {
    color: forestgreen;
}

a:hover {
    color: white;
    background-color: brown;
}

a:active {
    color: white;
    background-color: #111;
}

a:focus {
    color: blue;
    border: 1px solid blue;
}


/* Pseudo class for children */
ul {
    list-style: decimal-leading-zero;
}

/* ul>li:first-child {
    color: goldenrod;
    font-size: 1.4rem;
    font-family: cursive;
} */

/* ul>li:last-child {
    color: goldenrod;
    font-size: 1.4rem;
    font-family: cursive;
} */

/* for nth child you can use numbers, even and odd */
/* ul>li:nth-child(odd) {
    color: goldenrod;
    font-size: 1.4rem;
    font-family: cursive;
} */

ul>li:only-child {
    color: darkcyan;
}

/* Pseudo classes for targetting a type of an element */
section h1:first-of-type {
    color: red;
    text-align: center;
}

section p:last-of-type {
    color: springgreen;
}

section h3:only-of-type {
    color: firebrick;
}

/* even, odd, numbers  */
section h1:nth-of-type(2) {
    color: violet;
}


/* Applying the variables */
aside {
    width: 100%;
    height: 150px;
    background-image: var(--linearGradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside h1 {
    color: var(--color3);
    font-family: sans-serif;
    font-size: 1cm;
}

/* pseudo class of range */
input[type=number] {
    width: 500px;
    height: 35px;
    display: block;
    margin: 2rem auto;
    outline: none;
}

input[type=number]:in-range {
    border: 3px solid green;
}

input[type=number]:out-of-range {
    border: 3px solid red;
}


/* Pseudo class of target */
article {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-block: 4rem;
    gap: 3rem;
}

article main {
    display: flex;
    gap: 2rem;
}

article main div {
    transition: 2s;
    width: 200px;
    height: 200px;
    background-color: var(--color3);
}

article main div:target {
    background-color: var(--color1);
    border-radius: 50%;
}